<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Employee Create</title>
    <style>
        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
            -webkit-appearance: none;
        }
    </style>
</head>
<body class="bg-body-secondary">
<div class="container mt-3 bg-light p-3">
    <form id="add-employee-form" onsubmit="event.preventDefault(); addEmployee();">
        <!-- Row 1 -->
        <div class="d-flex justify-content-between mb-4">
            <div class="col-4">
                <label class="form-label fw-medium">Employee ID <span class="text-danger">(*)</span></label>
                <div class="input-group">
                    <img src="/images/icons/people.png" class="input-group-text border-0">
                    <input type="text" class="form-control" id="employeeId">
                </div>
            </div>
            <div class="col-4">
                <label class="form-label fw-medium">Employee Name <span class="text-danger">(*)</span></label>
                <div class="input-group">
                    <img src="/images/icons/people.png" class="input-group-text border-0">
                    <input type="text" class="form-control" id="employeeName">
                </div>
            </div>
            <div class="col-3">
                <label class="form-label fw-medium">Gender</label>
                <div class="input-group">
                    <img src="/images/icons/gender.png" class="input-group-text border-0">
                    <div class="mt-2">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="gender" id="gender-male" value="MALE">
                            <label class="form-check-label" for="gender-male">Male</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="gender" id="gender-female" value="FEMALE">
                            <label class="form-check-label" for="gender-female">Female</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Row 2 -->
        <div class="d-flex justify-content-between mb-4">
            <div class="col-4">
                <label class="form-label fw-medium">Date of Birth <span class="text-danger">(*)</span></label>
                <div class="input-group">
                    <img src="/images/icons/calendar.png" class="input-group-text border-0">
                    <input type="date" class="form-control" id="dateOfBirth">
                </div>
            </div>
            <div class="col-4">
                <label class="form-label fw-medium">Phone <span class="text-danger">(*)</span></label>
                <div class="input-group">
                    <img src="/images/icons/old-typical-phone.png" class="input-group-text border-0">
                    <input type="number" class="form-control" id="phone">
                </div>
            </div>
            <div class="col-3">
                <label class="form-label fw-medium">Address <span class="text-danger">(*)</span></label>
                <div class="input-group">
                    <img src="/images/icons/location.png" class="input-group-text border-0">
                    <input type="text" class="form-control" id="address">
                </div>
            </div>
        </div>
        <!-- Row 3 -->
        <div class="d-flex justify-content-between mb-4">
            <div class="col-4">
                <label class="form-label fw-medium">Email <span class="text-danger">(*)</span></label>
                <div class="input-group">
                    <img src="/images/icons/email.png" class="input-group-text border-0">
                    <input type="email" class="form-control" id="email">
                </div>
            </div>
            <div class="col-4">
                <label class="form-label fw-medium">Working place</label>
                <div class="input-group">
                    <img src="/images/icons/building.png" class="input-group-text border-0">
                    <input type="text" class="form-control" id="workingPlace">
                </div>
            </div>
            <div class="col-3">
                <label class="form-label fw-medium">Position</label>
                <div class="input-group">
                    <img src="/images/icons/employee.png" class="input-group-text border-0">
                    <input type="text" class="form-control" id="position">
                </div>
            </div>
        </div>
        <!-- Row 4 -->
        <div class="d-flex justify-content-between mb-4">
            <div class="col-4">
                <label class="form-label fw-medium">Image</label>
                <div class="input-group">
                    <img src="/images/icons/image.png" class="input-group-text border-0">
                    <input type="file" class="form-control" id="image" onchange="previewImage()">
                </div>
            </div>
        </div>
        <!-- Row 5: show image -->
        <div class="d-flex col-4 justify-content-center mb-4">
            <div>
                <img src="#" alt="Image" id="image-preview" style="width: 100px; height: 100px; display: none;">
            </div>
        </div>
        <!-- Row 6: buttons -->
        <div class="d-flex col-4 justify-content-center">
            <div class="me-2">
                <button type="submit" class="btn btn-success" style="width: 100px;">Save</button>
            </div>
            <div class="me-2">
                <button type="reset" class="btn btn-info text-white" style="width: 100px;" onclick="resetInputEmployee()">Reset</button>
            </div>
            <div>
                <a class="btn btn-warning text-white" href="#" onclick="fetchEmployee('employee-list.html')" style="width: 100px;">Cancel</a>
            </div>
        </div>
    </form>
</div>
</body>
</html>
