.sub-menu a{
    margin-left: 25px;

}

#ajax-content {
    max-height: 80vh;
    overflow-y: auto;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #f8f9fa;
}

a {
	cursor: pointer;
}
/* Overlay for #ajax-content */
#loading-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255); /* Semi-transparent dark background */
    display: none; /* Hidden by default */
    justify-content: center;
    align-items: center;
    z-index: 999; /* Ensure it is above #ajax-content */
}

/* Loading spinner */
#loading-icon {
    border: 8px solid #f3f3f3; /* Light grey border */
    border-top: 8px solid #3498db; /* Blue border */
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* Position #ajax-content relative for overlay to work correctly */
#ajax-content {
    position: relative;
}

