<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Member Login</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/login_style.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"/>
</head>
<body>
    <div class="login-container">

        <div class="avatar">
            <img src="#" alt="Avatar">
        </div>
        <div class="login-form">
            <h2>Member Login</h2>

            <!-- message for logout here -->
            <div th:if="${errorMessage}" th:text="${errorMessage}" class="text-danger"></div>
            <div th:if="${param.logout}" class="alert alert-dark">You have been logged out</div>
            <br>

            <form th:action="@{/authenticateUser}" method="post">
                <div class="input-container">
                    <input type="text" placeholder="Username" name="username" required>
                </div>
                <div class="input-container">
                    <input type="password" placeholder="Password" name="password" required>
                </div>
                <button type="submit" class="login-btn">Sign in</button>
            </form>
            <a href="#" class="forgot-password">Forgot Password?</a>
        </div>
    </div>
</body>
</html>